.audio {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.audio audio {
    width: 300px;
    color: white;
    accent-color: #ffffff;
    outline: none;
    border-radius: 6px;
}

.audio audio::-webkit-media-controls-panel {
    background-color: var(--botoes);
    border-radius: 6px;

}

.audio audio::-webkit-media-controls-play-button,
.audio audio::-webkit-media-controls-volume-slider {
    background-color: #ffffff;
    border-radius: 50%;

}


.conteudo {
    width: 800px;
    margin: auto;
}

.conteudo h1 {
    font-family: lemon;
    color: var(--botoeshover);
}

.conteudo p {
    margin-top: 30px;
    font-family: arial;
    font-size: 18px;
}

 span {
    font-weight: bold;
    color: var(--botoeshover);
    font-size: 20px;
}
