/* Fontes  */
@font-face {
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: boldlemon;
    src: url(/fonts/LEMONMILK-Bold.otf);
}

/* Colors  */
:root {
    --gradient1: #0077c7;
    --gradient2: #009aa6;
    --botoes: #418bca; 
    --botoeshover: #1351b4;
    --textbold: #276380;
    --fundoaviso: #d9edf6;
    --backabanner: #438eb8;
}